* {
	box-sizing: border-box;
}

#viewPort {
	height: 100%;
	max-width: 372px;
	margin: 0 auto;
	font-family: sans-serif;
	background-color: #ffffff;
	padding: 10px;
}

.heading {
	color: #40e7ea;
	font-size: 22px;
	text-align: center;
	margin-bottom: 10px;
}

#commandField {
	width: 251px;
	max-width: calc(60% - 6px);
	height: 51px;
	border: 2px solid #00dfe3;
	text-indent: 14px;
	text-transform: uppercase;
}

#commandBtn {
	width: 150px;
	max-width: calc(40% - 4px);
	height: 51px;
	border: none;
	margin-left: 4px;
	color: #ffffff;
	background-color: #acd373;
	transition: background-color 1.5s;
}

#commandBtn:hover {
	background-color: #7BA939
}

#pondContainer {
	height: calc(100% - 103px);
}

@media only screen and (max-width: 400px) {
    #viewPort,
    #commandField,
    #commandBtn {
        width: 100%;
        min-width: 200px;
        max-width: 100%;
    }

    #commandBtn {
    	margin-left: 0px;
    	margin-top: 5px;
    }
    
    #pond .pond-col {
    	width: calc((100% / 5) - 10px);
    }

    #pondContainer {
    	height: calc(100% - 158px);
    }

    div.errorContainer {
    	height: 35px;
    }

	.errorContainer .shortErr {
		font-size: 14px;
	}

	.errorContainer .longErr {
		font-size: 10px;
	}
}